.avatar-large img{
   width: 100px;
   border-radius: 500px;
}

.map-container {
   height: 500px;
   width: 100%;
   border-radius: 20px;
}

.mapboxgl-control-container{
   display: none;
}

.mapboxgl-canvas-container{
   border-radius: 20px !important;
}

.mapboxgl-canvas{
   border-radius: 20px !important;
}